NEXARY_CONSOLE_PORT=18090
NEXARY_DEMO_REDIS_PORT=18091
NEXARY_DEMO_POSTGRES_PORT=18096
NEXARY_DEMO_POSTGRES_USER=nexary
NEXARY_DEMO_POSTGRES_PASSWORD=nexary
NEXARY_DEMO_RABBITMQ_PORT=18093
NEXARY_DEMO_RABBITMQ_MANAGEMENT_PORT=18094
NEXARY_DEMO_RABBITMQ_USER=nexary
NEXARY_DEMO_RABBITMQ_PASSWORD=nexary
NEXARY_PROMETHEUS_PORT=18095
NEXARY_SKYWALKING_UI_PORT=18097
NEXARY_SKYWALKING_OAP_HTTP_PORT=18098
NEXARY_SKYWALKING_OAP_GRPC_PORT=18099
