REDIS_PORT=16379
VALKEY_PORT=16380
KAFKA_PORT=19092
ROCKETMQ_NAMESRV_PORT=19876
ROCKETMQ_BROKER_PORT=10911
MYSQL_PORT=13306
XXL_JOB_ADMIN_PORT=18080
MYSQL_ROOT_PASSWORD=local-demo-root
XXL_JOB_ACCESS_TOKEN=local-demo-token
POWERJOB_MYSQL_PORT=13307
POWERJOB_MYSQL_ROOT_PASSWORD=No1Bug2Please3!
POWERJOB_SERVER_HTTP_PORT=17700
POWERJOB_SERVER_AKKA_PORT=10086
POWERJOB_SERVER_REMOTE_PORT=10010
POWERJOB_SERVER_EXTRA_PORT=10077
POWERJOB_WORKER_HTTP_PORT=18081
POWERJOB_WORKER_PORT=27777
ACTIVEMQ_CLASSIC_PORT=61616
ACTIVEMQ_CLASSIC_WEB_PORT=18161
