REDIS_PORT=16379
KAFKA_PORT=19092
ROCKETMQ_NAMESRV_PORT=19876
ROCKETMQ_BROKER_PORT=10911
MYSQL_PORT=13306
XXL_JOB_ADMIN_PORT=18080
MYSQL_ROOT_PASSWORD=local-demo-root
XXL_JOB_ACCESS_TOKEN=local-demo-token
